@media screen and (min-width: 992px) and (max-width: 1440px) {
	
	.container {
		width: 100%;
	}

	header .wrapper .geo {
		font: 16px/20px 'Roboto', sans-serif;
	}

	header .wrapper .phones {
		margin-right: 2%;
	}

	header .wrapper .phones a {
		font: bold 20px 'Roboto', sans-serif;
		white-space: nowrap;
	}

	main .wrapper .catalog {
		grid-template-columns: repeat(3, 306px);
	}

	.masters-content {
		margin-left: 3%;
		margin-right: 3%;
	}

	.form h2 {
		text-align: center;
	}

	.form form {
		flex-flow: column;
		align-items: center;
	}

	.form form button {
		align-self: center;
		margin-top: 35px;
	}

	.advantages .advantages-grid {
		grid-template-columns: minmax(max-content, 658px);
	}

	.howtoget .howtoget-steps img {
 		 max-width: 300px;
	}

	.howtoget .howtoget-steps .howtoget-text {
		font-size: 18px;
		line-height: 24px;
		top:270px;
  		left:25px;
	}

	.howtoget .howtoget-steps .howtoget-steps--3 .auto {
		font-size: 18px;
		line-height: 24px;
		top:270px;
  		left:75px;
	}

	.howtoget .howtoget-steps .howtoget-steps--3 .iq {
		font-size: 60px;
		top:234px;
  		left:122px;
	}

	.howtoget .howtoget-steps .howtoget-steps--1::after {
		background-size: 38px 34px;
		width: 38px;
		height: 34px;
		top: 272px;
		left: 233px;
	}

	.howtoget .howtoget-steps .howtoget-steps--2::before  {
		background-size: 14.5px 5px;
		width: 14.5px;
		height: 5px;
		left: -16px;
}

	.howtoget .howtoget-steps .howtoget-steps--2::after {
	 	background-size: 24px 32px;
	  	width: 24px;
		height: 32px;
	  	top: 275px;
	  	left: 235px;
}

	.howtoget .howtoget-steps .howtoget-steps--3::before  {
		background-size: 14.5px 5px;
		width: 14.5px;
		height: 5px;
		left: -16px;
}

	.howtoget .howtoget-steps .howtoget-steps--3::after {
	  	background-size: 28px 38px;
	  	width: 28px;
	  	height: 38px;
	  	top: 221px;
	  	left: 74px;
}

	.form2 h2 {
		text-align: center;
	}

	.form2 form {
		flex-flow: column;
		align-items: center;
	}

	.form2 form button {
		align-self: center;
		margin-top: 35px;
	}

	footer .wrapper .geo {
		font: 16px/20px 'Roboto', sans-serif;
	}

	footer .wrapper .phones {
		margin-right: 2%;
	}

	footer .wrapper .phones a {
		font: bold 20px 'Roboto', sans-serif;
		white-space: nowrap;
	}

	.info .copyright {
		font: normal 14px/20px 'Roboto', sans-serif;
	}

	.info a {
	  	color: #fff;
	  	font: normal 14px/20px 'Roboto', sans-serif;
}
	

}