@media screen and (max-width: 1600px) {
	/*header resp */

	header .wrapper {
		flex-wrap: nowrap;
	}

	header .wrapper .logo .img-container {
		width: 180px;
	}

	header .wrapper nav ul {
		width: auto;
		justify-content: flex-start;
	}

	header .wrapper .btn-phones {
		width:auto;
	}

	header .wrapper .btn-phones .btn {
		line-height: normal;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	header .wrapper .phones {
		margin-left: 1rem;
	}

	/*footer resp */

	footer .wrapper .logo .img-container {
		max-width: 150px;
	}
}

@media screen and (max-width: 1400px) {

		header .wrapper .btn-phones {
			flex-direction: column-reverse;
		}

		header .wrapper {
			justify-content: space-between;
		}

		header .wrapper .btn-phones .btn {
			margin: 5px 0;
			padding-top: 3px;
			padding-bottom: 3px;
		}

		header .wrapper .phones {
			margin: 0 auto;
		}
}

@media screen and (max-width: 999px) {

		header .wrapper nav {
			order: 2;
			display: flex;
			justify-content: flex-end;
			position: relative;
		}

		header .wrapper nav ul {
			display: none;
			position: absolute;
			right: 0;
			top: 100%;
		    height: auto;
		    width: 480px;
		    padding: 10px 15px;
		    background: #fff;
		    box-shadow: 0 8px 10px 0 rgba(0,0,0,.2);
		    box-sizing: border-box;
		}

	/*	header .wrapper nav ul.active {
			right: 0;
			top: 100%;
		    height: auto;
		    width: 480px;
		    padding: 10px 15px;
		    background: #fff;
		    box-shadow: 0 8px 10px 0 rgba(0,0,0,.2);
		    box-sizing: border-box;
		} */

		header .wrapper nav .mobile-menu {
			display: block;
		}

		/*footer resp */ 

		footer .wrapper {
			flex-wrap: wrap;
			justify-content: space-between;
		}

		footer .wrapper .col {
			order:1;
			margin-left: 130px;
			margin-right: 130px;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			margin-top: 30px;
		}

}

@media screen and (max-width: 790px) {

		header .wrapper .logo .img-container {
			min-width: 95px;
		}

		header .wrapper .logo .text {
			font-size: 14px;
		}

		/*footer resp */ 

		footer .wrapper .col {
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		footer .wrapper .col .vk {
			margin-right: 40px;
			margin-bottom: 0;

		}

		footer .wrapper .col address {
			order:2;
			margin-top: 10px;
			font-size: 120%;
			text-align: center;
		}

		footer .wrapper .logo .img-container {
			min-width: 95px;
		}

		footer .wrapper .logo .text {
			font-size: 14px;
		}

}


@media screen and (max-width: 670px) {

		header .wrapper .btn-phones .btn.to-map {
			display: none;
		}

		header .wrapper .logo {
			flex-wrap: wrap;
			justify-content: center;
			margin-right: 50px;
		}

		header .wrapper .logo .img-container {
			min-width: 95px;
			max-width: 130px;

	}

		header .wrapper .logo .text {
			padding-top: 10px;
			text-align: center;
			margin-left: 0px;
		}

		header .wrapper .btn-phones .phones {
			font-size: 120%;
			white-space: nowrap;
		}

		header .wrapper .btn-phones .btn {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		/*footer resp */ 

		footer .wrapper { 
			justify-content: center;
		}


		footer .wrapper .logo {
			flex-wrap: wrap;
			justify-content: center;
			margin-right: 50px;
			max-width: 200px;
		}

		footer .wrapper .logo .img-container {
			min-width: 95px;
			max-width: 130px;

	}

		footer .wrapper .logo .text {
			padding-top: 10px;
			text-align: center;
			margin-left: 20px;
			margin-right: 20px;
		}

		footer .wrapper .phones {
			font-size: 120%;
		}

		footer .wrapper .copyright {
			order:3;
			margin-top: 10px;
		}

}

@media screen and (max-width: 530px) {


		footer .wrapper .col {
			width: auto;
		}

		footer .wrapper .col .vk {
			margin-left: 20px;
			margin-right: 20px;
		}

		footer .wrapper .col .btn.to-map {
			font-size: 20px;
			line-height: 1.5em;
			padding: 10px 15px;
		}

		footer .wrapper .phones {
			font-size: 170%;
			margin-top: 15px;
		}

		footer .wrapper .logo {
			margin-left: 20px;
			margin-right: 20px;
		}

}



@media screen and (max-width: 450px) { 

		header .wrapper {
			flex-wrap: wrap;
		}

		header .wrapper .btn-phones {
			order:3;
			margin-top: 20px;
			flex-direction: row-reverse;
			justify-content: space-between;
			width: 100%;
		}

}

@media screen and (max-width: 380px) { 

		header .wrapper .btn-phones {
			flex-direction: column-reverse;
		}


}
