.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
body,html {
	height: 100%;
	font-family: "Rubik", sans-serif;
}

a {
	text-decoration: none;
}

h1,h2,h3 {
	margin: 0;
	padding:0;
} 

/*Fonts*/

/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v8/iJWKBXyIfDnIV7nFrXyi0A.woff2) format('woff2');
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v8/iJWHBXyIfDnIV7EyjmmZ8WDm7Q.woff2) format('woff2');
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'), url(https://fonts.gstatic.com/s/rubik/v8/iJWHBXyIfDnIV7F6iGmZ8WDm7Q.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v8/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v8/iJWHBXyIfDnIV7Eyjmmd8WA.woff2) format('woff2');
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'), url(https://fonts.gstatic.com/s/rubik/v8/iJWHBXyIfDnIV7F6iGmd8WA.woff2) format('woff2');
}

.container  {
	width: 100%;
	height: 100%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.content {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/*menu style*/

header nav ul {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-top: 50px;
	padding-bottom: 30px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
	/*background: url(../images/headerback.jpg);*/ /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(17,17,17,0.5) 0%,rgba(17,17,17,0.8) 50%,rgba(17,17,17,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(rgba(17,17,17,0.5)),color-stop(50%, rgba(17,17,17,0.8)),to(rgba(17,17,17,0.5)));
	background: -o-linear-gradient(left, rgba(17,17,17,0.5) 0%,rgba(17,17,17,0.8) 50%,rgba(17,17,17,0.5) 100%);
	background: linear-gradient(to right, rgba(17,17,17,0.5) 0%,rgba(17,17,17,0.8) 50%,rgba(17,17,17,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80111111', endColorstr='#80111111',GradientType=1 ); /* IE6-9 */
	}

header nav ul li {
	margin-right: 62px;
}

header nav ul li a {
	color: #fff;
/*	font-family: "Rubik";*/
	font-size: 24px;
	white-space: nowrap;
}

header nav ul li a:hover {
	color: #1375f8;
}

.mobile-menu {
	display: none;
}

/*main style*/

main {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background: #fafafa;
}

/*first block style*/

main .first {
	background: url(../images/mainback.png), #000000;
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100vw;
	height: 100vh;
	position: relative;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	width: 100%;
}

main .first h1 {
	color: #fff;
	/*font-family: "Rubik";*/
	font-size: 60px;
	text-align: center;
	font-weight: 400;
	margin-top: 40vh;
	position: relative;
}

main .first h1::after {
	content: "";
	width: 260px;
	height: 2px;
	background: #dedede;
	background-size: 320px 2px;
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -130px;
}

main .first .icons {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: absolute;
	top: 70vh;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

main .first .icons .icons-item {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 40px;
	margin-right: 40px;
}

main .first .icons .icons-item .icons-item-img {
	background: #4a4a4a;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
	        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
}

main .first .icons .icons-item .icons-item-img img {
	display: block;
	width: 50px;
}

main .first .icons .icons-item:nth-child(2) .icons-item-img img {
	width: 60px;
}

main .first .icons .icons-item .icons-item-text {
	color: #fff;
	/*font-family: "Rubik";*/
	font-size: 22px;
	text-align: center;
	font-weight: 400;
	max-width: 170px;
	margin-top: 30px;
}

/*second block style*/

/*.second {
	width: 100%;
}*/

.second-wrapper {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 50px;
	background: #fafafa;
	margin-bottom: 80px;
}

.second h2 {
	color: #4a4a4a;
	/*font-family: "Rubik";*/
	font-size: 60px;
	text-align: center;
	font-weight: 400;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
}

.second h2::after {
	content: "";
	width: 260px;
	height: 2px;
	background: #4a4a4a;
	background-size: 320px 2px;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -130px;
}

.second-wrapper .ul-container {
	margin-left: 50px;
	background: #fafafa;
}

.second-wrapper .ul-container .tabs-heading {
	margin-bottom: 30px;
	color: #4a4a4a;
	/*font-family: "Rubik";*/
	font-size: 36px;
	font-weight: 400;
}

ul.tabs {
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
	float: left;
	list-style: none;
	height: auto;
/*	border-bottom: 1px solid #333;*/
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	height: auto;
	line-height: 31px;
/*	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;*/
	background-color: #fafafa;
	color: #ccc;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	margin-right: 50px;
	margin-bottom: 50px;
	width: 25%;
}

/*.tab_last { border-right: 1px solid #333; }*/

ul.tabs li .tab-content {
	width: 100%;
	height: auto;
	background: #fff;
	-webkit-box-shadow: inherit;
	        box-shadow: inherit;
}

ul.tabs li .tab-image {
	width: 100%; 
	height: 200px;
}

ul.tabs li .tab-image.tab1 {
	background-image: url(../images/services/001.png);
	background-size: 75% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

ul.tabs li .tab-image.tab2 {
	background-image: url(../images/services/002.png);
	background-size: 75% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

ul.tabs li .tab-image.tab3 {
	background-image: url(../images/services/003.png);
	background-size: 75% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

ul.tabs li .tab-image.tab4 {
	background-image: url(../images/services/004.png);
	background-size: 75% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

ul.tabs li .tab-image.tab5 {
	background-image: url(../images/services/005.png);
	background-size: 75% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

ul.tabs li .tab-image.tab6 {
	background-image: url(../images/services/006.png);
	background-size: 75% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

ul.tabs li .tab-image.tab7 {
	background-image: url(../images/services/007.png);
	background-size: auto 75%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

ul.tabs li .tab-image.tab8 {
	background-image: url(../images/services/008.png);
	background-size: 75% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

ul.tabs li .tab-image.tab9 {
	background-image: url(../images/services/009.png);
	background-size: 75% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

ul.tabs li .tab-text {
	width: 100%;
	color: #fff;
	text-align: center;
	/*font-family: "Rubik";*/
	font-size: 22px;
	background-color: #4a4a4a;
	padding-top: 5px;
	padding-bottom: 5px;
} 

/*ul.tabs li:hover {
	background-color: #ccc;
	color: #333;
}*/

ul.tabs li.active {
	/*background-color: #fff;*/
	/*color: #333;*/
	/*border-bottom: 1px solid #fff;*/
	display: block;
}

ul.tabs li:hover .tab-content .tab-text {
	background-color: #1375f8;
}

ul.tabs li.active .tab-content .tab-text {
	background-color: #1375f8;
}

.tab_container {
	/*border: 1px solid #333;*/
	border-top: none;
	max-width: 678px;
	max-height: 1180px;
	background: #fff;
	overflow: auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-left: 1%;
	margin-right: 10%;
	padding: 0 40px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.tab_container h2 {
	color: #fff;
	/*font-family: "Rubik";*/
	font-size: 22px;
	text-align: center;
	font-weight: 400;
	background-color: #1375f8;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 -40px;
}

.tab_container h2::after {
	display: none;
}

.tab_content {
	display: none;
}

.tab_content .tab_content_inner {
	padding-left: 40px;
	padding-right: 40px;
	color: #4a4a4a;
	/*font-family: "Rubik";*/
}

.tab_content .tab_content_inner p {
	padding-top: 18px;
	font-size: 18px;
	font-weight: 400;
}

.tab_content .tab_content_inner .tab_content_ol_heading {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 50px;
}


.tab_content .tab_content_inner .tab_content_ol {
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 50px 0;
	counter-reset: myCounter;
	padding: 0;
}

.tab_content .tab_content_inner .tab_content_ol li {
	list-style: none;
	position: relative;
	margin-left: 66px;
	margin-bottom: 50px;
}

.tab_content .tab_content_inner .tab_content_ol li::before {
	counter-increment: myCounter;
  	content:counter(myCounter);
  	color: #1375F8;
  	background: #ffffff;
  	display: inline-block;
 	text-align: center;
 	border: 3px solid #1375F8;
 	border-radius: 50%;
  	/*margin: 5px 10px;*/
  	line-height: 45px;
 	width: 45px;
  	height: 45px;
  	/*font-family: "Rubik";*/
	font-size: 28px;
	font-weight: 400;
	position: absolute;
	top: -15px;
	left: -66px;
}

/*.tab_content .tab_content_inner .tab_content_ul li {

}*/

.tab_drawer_heading { display: none; }

/*@media screen and (max-width: 1290px) {
	.tabs {
		display: none;
	}
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}
}
*/
/*second slick*/

.slider_heading {
	padding-left: 40px;
	padding-right: 40px;
	color: #1375f8;
	/*font-family: "Rubik";*/
	font-size: 22px;
	font-weight: 500;
}

.sl {
	max-width: 600px;
	margin: 0 auto;
}

.sl--slide img {
	margin: 0 auto;
	max-width: 250px;
	border: 1px solid #1375f8;
}

.sl .slick-prev {
	left: -20px;
}

.sl .slick-next {
	right: -20px;
}

.sl .slick-prev::before, .sl .slick-next::before {
	color: #4a4a4a;
} 

.sl .slick-prev:hover::before, .sl .slick-next:hover::before {
	color: #1375f8;
} 

.sl .slick-dots {
	bottom: -40px;
}

.sl .slick-dots li.slick-active button::before {
	color: #1375f8;
}

.sl .slick-dots li button:before {
	color: #4a4a4a;
	font-size: 10px;
}

/*lightbox*/

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

/* 

for zoom animation 
uncomment this part if you haven't added this code anywhere else

*/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}



/*third block style*/

.third {
	background: url(../images/mainback.png), #000000;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.third-wrapper {
	max-width: 1880px; 
}

.third-wrapper h2 {
	color: #ffffff;
	/*font-family: "Rubik";*/
	font-size: 60px;
	text-align: center;
	font-weight: 400;
	margin: 0 auto; 
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
}

.third-wrapper h2::after {
	content: "";
	width: 260px;
	height: 2px;
	background: #dedede;
	background-size: 320px 2px;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -130px;
}

.third-wrapper .third-content {
	margin-top: 50px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.third-wrapper .third-content .third-content-photo {
	margin-right: 5%;
	margin-left: 5%;
	-webkit-box-flex: 1;
	    -ms-flex: 1 2 auto;
	        flex: 1 2 auto;
}

.third-wrapper .third-content .third-content-photo img {
	width: 100%;
	min-width: 257px;
	height: auto;
}

.third-wrapper .third-content .third-content-text {
	color: #ffffff;
	/*font-family: "Rubik";*/
	text-align: center;
	font-weight: 400;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 2;
	    -ms-flex: 2 1 auto;
	        flex: 2 1 auto;
}

.third-content-text-figures {
	margin-bottom: 70px;
}


.third-content-text-figures p {
	font-size: 48px;
	margin-top: 0;
}


.box {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row;
	        flex-flow: row;
} 

.box .figure {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.box .figure {
	max-width: 185px;
	margin-right: 90px;
}

.box .figure:last-child {
	margin-right: 0px;
}

.box .figure .counter {
	font-size: 96px;
}

.box .figure .figure-text {
	font-size: 36px;
}

.third-content-text-cert p {
	font-size: 48px;
}

/*third slick*/

.sl2 {
	max-width: 800px;
	margin-bottom: 60px;
}

.sl2--slide img {
	margin: 0 auto;
}

.sl2 .slick-prev:hover::before, .sl2 .slick-next:hover::before {
	color: #1375f8;
}

.sl2 .slick-dots {
	bottom: -40px;
}

.sl2 .slick-dots li.slick-active button::before {
	color: #1375f8;
}

.sl2 .slick-dots li button:before {
	color: #ffffff;
	font-size: 12px;
}


/*fourth block style*/

.fourth-wrapper {
	max-width: 1880px;
	margin: 0 auto;
}

.fourth-wrapper .clients h2 {
	color: #4a4a4a;
	/*font-family: "Rubik";*/
	font-size: 60px;
	text-align: center;
	font-weight: 400;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
}

.fourth .fourth-wrapper .clients h2::after {
	content: "";
	width: 260px;
	height: 2px;
	background: #4a4a4a;
	background-size: 320px 2px;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -130px;
}

.fourth-wrapper .clients .logos {
	display: -ms-grid;
	display: grid;
	grid-template-areas: 
	'a a b b c c'
	'd e e f f g';
	justify-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	grid-row-gap: 60px;
	grid-column-gap: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.fourth-wrapper .clients .logos img {
	text-align: center;
}

.fourth-wrapper .clients .logos img[alt="nordman"] {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-area: a;
}

.fourth-wrapper .clients .logos img[alt="markspace"] {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
	-ms-grid-column-span: 3;
	grid-area: b;
}

.fourth-wrapper .clients .logos img[alt="endo"] {
	-ms-grid-row: 1;
	-ms-grid-column: 9;
	-ms-grid-column-span: 3;
	grid-area: c;
	max-height: 70px;
}

.fourth-wrapper .clients .logos img[alt="deneum"] {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
	-ms-grid-column-span: 3;
	grid-area: e;
}

.fourth-wrapper .clients .logos img[alt="markmoda"] {
	-ms-grid-row: 3;
	-ms-grid-column: 7;
	-ms-grid-column-span: 3;
	grid-area: f;
}

.fourth-wrapper .reviews {
	padding: 0 40px;
}

.fourth-wrapper .reviews h2 {
	color: #4a4a4a;
	/*font-family: "Rubik";*/
	font-size: 60px;
	text-align: center;
	font-weight: 400;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
}

.fourth .fourth-wrapper .reviews h2::after {
	content: "";
	width: 260px;
	height: 2px;
	background: #4a4a4a;
	background-size: 320px 2px;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -130px;
}

/*fourth slick*/

.sl3 {
	max-width: 1500px;
	margin: 0 auto 80px;
}

.sl3--slide .slide-content {
	margin: 30px auto;
	width: 60%;
	height: auto;
	background: #ffffff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	padding: 50px;
}

.sl3--slide .slide-content .author {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.sl3--slide .slide-content .author img {
	width: 100px;
	height: 100px;
	margin-right: 30px;
}

.name {
	/*font-family: "Rubik";*/
	font-weight: 400;
}

.name p {
	margin: 0;
	padding: 0;
	font-size: 30px;
	color: #4a4a4a;
}

.name a {
	color: #1375f8;
	font-size: 24px;
}

.sl3--slide .slide-content .text p {
	/*font-family: "Rubik";*/
	font-weight: 400;
	font-size: 20px;
	margin-top: 80px;
	margin-bottom: 30px;
}


.sl3 .slick-prev::before, .sl3 .slick-next::before {
	color: #4a4a4a;
}

.sl3 .slick-prev:hover::before, .sl3 .slick-next:hover::before {
	color: #1375f8;
}

.sl3 .slick-dots {
	bottom: -40px;
}

.sl3 .slick-dots li.slick-active button::before {
	color: #1375f8;
}

.sl3 .slick-dots li button:before {
	color: #4a4a4a;
	font-size: 12px;
}

/*fifth wrapper*/

.fifth {
	background: url(../images/mainback.png), #000000;
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: #fff;
}

.fifth-wrapper {
	padding: 0 40px;
}

.fifth-wrapper h2 {
	color: #ffffff;
	/*font-family: "Rubik";*/
	font-size: 60px;
	text-align: center;
	font-weight: 400;
	margin: 0 auto 100px; 
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
}

.fifth-wrapper h2::after {
	content: "";
	width: 260px;
	height: 2px;
	background: #dedede;
	background-size: 320px 2px;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -130px;
}

.fifth-wrapper-content {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 1650px;
	margin: 0 auto 230px;
}

.fifth-wrapper-item {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 522px;
	border-radius: 5px;
	margin: 0 10px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.fifth-wrapper-item h3 {
	color: #ffffff;
	/*font-family: "Rubik";*/
	font-size: 48px;
	text-align: center;
	font-weight: 400;
	padding-top: 30px;
}

.fifth-wrapper-item .text .price {
	/*font-family: "Rubik";*/
	font-size: 72px;
	text-align: center;
	font-weight: 400;
}


.fifth-wrapper-item .text .price.item1 {
	color: #14B9FF;
}

.fifth-wrapper-item .text .price.item2 {
	color: #33F813;
}

.fifth-wrapper-item .text .price.item3 {
	color: #FF8311;
}

.fifth-wrapper-item .text .month {
	/*font-family: "Rubik";*/
	font-size: 36px;
	line-height: 0.5;
	text-align: center;
	font-weight: 400;
}

.fifth-wrapper-item a {
	color: #ffffff;
	/*font-family: "Rubik";*/
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 400;
	border: 3px solid #ffffff;
	padding: 2% 10%;
	margin-bottom: 30px;
}

.fifth-wrapper-item a:hover {
	-webkit-box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.55);
	        box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.55);
	background-color: #444444;
}

/*popup styles*/

#popup, #popup2, #popup3 {
	background: white;
	padding: 50px 50px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
	position: relative;
	/*font-family: "Rubik";*/
	font-weight: 400;
}

#popup h3, #popup2 h3, #popup3 h3 {
	font-size: 48px;
	color: #1375f8;
}

#popup p, #popup2 p, #popup3 p {
	font-size: 24px;
}

#popup ul, #popup2 ul, #popup3 ul {
	margin-bottom: 50px;
}

#popup li, #popup2 li, #popup3 li {
	list-style: none;
	/*text-indent: -1.3em;*/
	font-size: 24px;
	margin-bottom: 24px;
	position: relative;
}

#popup li::before, #popup2 li::before, #popup3 li::before {
	content: "\002B";
	/*padding-right: 10px;*/
	color: #1375f8;
	position: absolute;
	top: 0px;
	left: -25px;
}

#popup a, #popup2 a, #popup3 a {
	color: #ffffff;
	background-color: #1375f8;
	line-height: 36px;
	text-align: center;
	padding: 16px 38px;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30px;
}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-ms-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}


/*Footer style*/

footer {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: #fafafa;
}

footer h2 {
	color: #4a4a4a;
	/*font-family: "Rubik";*/
	font-size: 48px;
	text-align: center;
	font-weight: 400;
	margin: 96px auto 0;
	position: relative;
}

footer h2::after {
	content: "";
	width: 260px;
	height: 2px;
	background: #4a4a4a;
	background-size: 260px 2px;
	position: absolute;
	top: 80px;
	left: 50%;
	margin-left: -130px;
}

footer .f-content {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-top: 100px;
	margin-bottom: 100px;
}

footer .contacts a {
	color: #4a4a4a;
	/*font-family: "Rubik";*/
	font-size: 36px;
	text-align: center;
	font-weight: 400;
}

footer .contacts a:hover {
	color: #1375f8;
}

footer .contacts .phone {
	margin-bottom: 30px;
	position: relative;
}

footer .contacts .phone::before {
	content: "";
	background-image: url(../images/icons/svg/call-answer.svg);
	background-size: 36px 36px;
	width: 36px;
	height: 36px;
	position: absolute;
	top: 5px;
	left: -55px;
}

footer .contacts .email {
	position: relative;
}

footer .contacts .email::before {
	content: "";
	background-image: url(../images/icons/svg/mail.svg);
	background-size: 36px 36px;
	width: 36px;
	height: 36px;
	position: absolute;
	top: 5px;
	left: -55px;
}

footer .social {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

footer .social .social-text {
	color: #4a4a4a;
	/*font-family: "Rubik";*/
	font-size: 36px;
	text-align: center;
	font-weight: 400;
}

footer .social .social-icons {
	margin-top: 20px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

footer .social .social-icons img {
	display: block;
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-right: 10px;
}
